<app-header></app-header>
<section class="container">
        <div class="row m-4">
            <div class="col" style="height: 70vh;">
                <form class="pt-4">
                    <div class="card shadow">
                        <p class="h4 card-header">Update User</p>
                        <div class="card-body bg-light">
    
                            <p class="card-text">Details:&nbsp;</p>
                            <form>
    
                                <div class="input-group mt-3 mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Username</span>
                                    </div>
                                    <input type="text" class="form-control" />
                                </div>
    
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Password</span>
                                    </div>
                                    <input type="text" class="form-control" />
                                </div>
    
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Re-enter Password" />
                                </div>
    
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Email</span>
                                    </div>
                                    <input type="text" class="form-control" />
                                </div>
    
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Mobile</span>
                                    </div>
                                    <input type="text" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="reset" class="btn btn-danger ml-2">Reset</button>
                            </form>
    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>