<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
        
        <style>
        
        .w3-allerta {
      font-family: "Allerta Stencil", Sans-serif;
    }
        </style>
        <style>
            </style>
    </head>
    <body>

 
<header class="shadow" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                    
                     <h1 class="w3-container  w3-center w3-allerta" >Stock Charts</h1>
                            
                    </a>
                    
            
           
            
        </div>
    </nav>
</header>
<section class="container">
    <div class="row m-4">
        <div class="col" style="height: 70vh;">
            <form class="pt-4">
                <div class="card shadow">
                    <p class="h4 card-header">User Sign-Up Form</p>
                    <div class="card-body bg-light">

                        <p class="card-text">Details:&nbsp;</p>
                        <form>

                            <div class="input-group mt-3 mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Username</span>
                                </div>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Re-enter Password" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Mobile</span>
                                </div>
                                <input type="text" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger ml-2">Reset</button>
                        </form>

                    </div>
                </div>
            </form>
        </div>
    </div>
</section></body></html>